<!DOCTYPE html>

<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Cause of Death</title>
	<link rel="stylesheet" type="text/css" href="content/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="content/css/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="content/js/angular.min.js" /></script>
	<script src="content/js/bootstrap.js" /></script>
	<!-- <script src="content/js/ui-bootstrap.js" /></script> -->

</head>

<body>

	<header>Cause of Death Form</header>

	<section class="form-generic">

		<form name="codForm" ng-submit="submitForm(codForm.$valid)">
			<h4>PART I.</h4>
			<div class="form-group form-inline">
				<div>IMMEDIATE CAUSE (Final disease or condition resulting in death)</div>
				<label for="Line1a"><span>a. </span>Due to (or as a consequence of)</label>
				<input type="text" class="form-control" ng-model="line1a" id="Line1a" ng-required="true" ng-minlength="120" placeholder="" maxlength="120">
				<label for="Duration1a"><span>a. </span>Approximate interval: Onset to death</label>
				<input type="text" class="form-control duration" ng-model="duration1a" ng-required="true" id="Duration1a" ng-minlength="120" placeholder="" maxlength="20">
			</div>
			<div class="form-group form-inline">
				<div>Additional condition that led to the immediate cause</div>
				<label for="Line1b"><span>b. </span>Due to (or as a consequence of)</label>
				<input type="text" class="form-control" ng-model="line1b" id="Line1b" placeholder="" ng-minlength="120" maxlength="120">
				<label for="Duration1b"><span>b. </span>Approximate interval: Onset to death</label>
				<input type="text" class="form-control duration" ng-model="duration1b" id="Duration1b" ng-minlength="120" placeholder="" maxlength="20">
			</div>
			<div class="form-group form-inline">
				<div>Additional condition that led to the immediate cause</div>
				<label for="Line1c"><span>c. </span>Due to (or as a consequence of)</label>
				<input type="text" class="form-control" id="Line1c" ng-model="line1c" placeholder="" ng-minlength="120" maxlength="120">
				<label for="Duration1c"><span>c. </span>Approximate interval: Onset to death</label>
				<input type="text" class="form-control duration" id="Duration1c" ng-model="duration1c" ng-minlength="120" placeholder="" maxlength="20">
			</div>
			<div class="form-group form-inline">
				<div>Additional condition that led to the immediate cause</div>
				<label for="Line1d"><span>d. </span>Due to (or as a consequence of)</label>
				<input type="text" class="form-control" id="Line1d" ng-model="line1d" placeholder="" ng-minlength="120" maxlength="120">
				<label for="Duration1d"><span>d. </span>Approximate interval: Onset to death</label>
				<input type="text" class="form-control duration" id="Duration1d" ng-model="duration1d" ng-minlength="120" placeholder="" maxlength="20">
			</div>
			<h4>PART II.</h4>
			<div class="form-group">
				<label for="Line2">Significant conditions contributing to death but not resulting in the underlining cause given in PART I</label>
				<input type="text" class="form-control" id="Line2" placeholder="" maxlength="240">
			</div>
			<!-- datetime -->
			<!-- <div class="form-group">
				<label for="TimeOfDeath">DATE/TIME OF INJURY</label>
				<input type="datetime-local" id="TimeOfDeath">
			</div> -->
			<!-- date information -->
			<div class="form-group">
				<div>DATE OF INJURY</div>
				<label for="MonthOfDeath">Month</label>
				<input type="text" class="form-control date mo" id="MonthOfDeath" placeholder="June" maxlength="9">
				<label for="DayOfDeath">Day</label>
				<input type="text" class="form-control date day" id="DayOfDeath" placeholder="20" maxlength="2">
				<label for="YearOfDeath">Year</label>
				<input type="number" class="form-control date yr" id="YearOfDeath" placeholder="2015" maxlength="4">
			</div>
			<!-- time information -->
			<div class="form-group">
				<div>TIME OF INJURY</div>
				<label for="HourOfInjury">Hour</label>
				<input type="text" class="form-control time hr" id="HourOfInjury" placeholder="5">
				<label for="MinOfInjury">Minute</label>
				<input type="text" class="form-control time min" id="MinOfInjury" placeholder="00" maxlength="2">
				<label for="InjuryTimeCode">Code</label>
				<input type="text" class="form-control time code" id="InjuryTimeCode" placeholder="PM" maxlength="2">
			</div>
			<!-- place information -->
			<div class="form-group">
				<label for="PlaceOfInjury">PLACE OF INJURY (e.g., Decendent's home; construction site; restaurant; wooded area)</label>
				<input type="text" class="form-control place" id="PlaceOfInjury" placeholder="Decendent's home">
			</div>
			<div class="form-group">
				<label for="WorkInjury"></label>
				<select id="WorkInjury">
					<option value="Y">Yes</option>
					<option value="N">No</option>
					<option value="U">Unknown</option>
					<option value="X">Not Reported</option>
				</select>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>

	</section>

	<script>
		var validation = angular.module('CODFormGeneric', []);

		validation.controller('mainController', function($scope) {
	  	$scope.submitForm = function(isValid) {
	    // check to make sure the form is completely valid
	    if (isValid) {
	      alert('Data is valid');
	    }
	  };
	});

	</script>

</body>

</html>
