*{
    margin:0;
    padding:0;
}

html,
body{
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
}

header{
    width:100%;
    height:44px;
    padding:.5em;
    background-color:#454545;
    color:#fff;
    font-style:bold;
    text-align:center;
}

.home > nav{
    width:100%;
    height:100%;
    padding:1em;
}

.home > nav .btn{
    display: block;
    height: auto;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
}

/* form-generic styles */

.form-generic{
    font-size:.8em;
    padding:1em;
}

.form-generic h4{
    margin:.5em 0;
    font-weight:bold;
}

.duration{
    width:172px;
}

.mo{
    width:88px;
}

.day{
    width:44px;
}

.yr{
    width:80px;
}

.time{
    width:55px;
}

/* form-wizard styles */

background: #333;
height: 30px;
width: 100%;
}

ul.egmenu > li {
float: left;
position: relative;
}

ul.egmenu ul {
background: #444;
display: none;
position: absolute;
left: 0; top: 100%;
}

ul.egmenu a {
cursor: pointer;
display: block;
color: white;
line-height: 30px;
padding: 0 10px;
}

ul.egmenu li { list-style: none; }

ul.egmenu li:hover { background: #555;  }
ul.egmenu li:hover ul { display: block;  }

@media all and (max-width: 480px) {
    ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 100%; }
    ul.egmenu a { line-height: 40px; }
    ul.egmenu ul { position: relative; }
}
